body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to right, #f0f0f0, #d6d6d6);
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    font-size: 1em;
}

header {
    background: linear-gradient(90deg, #444, #222);
    color: white;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 15px 34px;
    transition:
        background 0.3s,
        transform 0.2s;
    border-radius: 8px;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.03);
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background: #f0f8ff;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #222;
    text-align: center;
    font-size: 2em;
}

p {
    text-align: justify;
    font-size: 1.4em;
}

img {
    width: 70%;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    width: 70%;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    text-align: center;
    margin: 60px 0;
}

.footer a {
    padding: 20px 40px;
    background-color: #444;
    color: white;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    transition:
        background 0.3s,
        transform 0.2s;
    text-decoration: none;
}

.footer a:hover {
    background-color: #222;
    transform: scale(1.1);
}
.footerSite {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: auto;
}

.footerSite a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

.footerSite a:hover {
    color: #007bff;
}

input {
    width: 200px;
    background: #f0f8ff;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-family: &quot;Roboto&quot;, sans-serif;
    color: #333;
}

button {
    background: linear-gradient(90deg, #444, #222);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: &quot;Roboto&quot;, sans-serif;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
